<div class="container">
<div class="row">
<div class="span12">

<h1>TERMS OF USE</h1>

<h3>1. - Service Description</h3>

<p>YooRec provides an internet platform for connecting editors that can offer assembly and production of videos and other media services (video, presentations, DVDs and photo books) to customers who want those services. This service can be accessed at [http://www.YooRec.com].

The editors promote through the Website, a sample of his or her most exemplary representative works (hereinafter listings). The customer, after assessing the work of editors, then has the option to select which editor he/she would like to complete their work.</p>

<p>Photographs, videos and illustrations of the products advertised on the Website are for advertising purposes only, and therefore are not for sale, nor do they bind YooRec in any way as to the result of each project.

In any case, audiovisual services offered through YooRec are intended exclusively for personal use, it is not permitted to use this Website to generate products for subsequent sale or rent.</p>

<p>As mentioned above, YooRec provides a platform or related technology market for customers and editors in contact over the internet and for conducting and agreeing an audiovisual service. YooRec is not a production company and does not provide direct services and products offered by editors but serves as a liaison between them and the customers. YooRec’s responsibilities are limited to: (i) facilitating the availability of the website, and (ii) acting as an agent for each editor in order to accept, on their behalf, payments from customers.</p>

<p>You should note that, as indicated above, the Website is designed to be used to facilitate the realization of video and audiovisual content. YooRec cannot control or monitor both the contents of jobs of the editors as well as the content of the end product delivered. YooRec is not responsible and disclaims all liability in connection with the above, as a result, all reservations will be made at the risk of the customer.</p>

<h3>2. - Acceptance of Terms of Use</h3>

<p>If you want to be a user of YooRec’s services, you must read and accept our Terms of Use and Privacy Policy. Any request for services, will directly accept the current Terms of Use.</p>

<p>These General Conditions are subject to the provisions of the Law 7/19988 of 13 April on GTC, the Law 26/1984 of July 19, the General Defense of Consumers and Users, Royal Decree 1906/1999, of 17 December 1999 regulating the Telephone and Electronic Contracting with general conditions of Law 15/1999 of December 13, Protection of Personal Data, Law 7 / 1996 of 15 January Retail Trade, and Law 34/2002 of July 11, Services Information Society and Electronic Commerce.</p>

<p>YooRec reserves the right, in its sole discretion, to modify the page, or alter these Terms, including fees for services (commissions), at any time and without notice. If these Terms are amended, such amendment will be published on the site or through the application, or written notice of the modification. It will also update the "Last updated" located at the beginning of these Terms. By continuing to access or use the Website, from which either a change in the page or by the application, or has been given notice of a modification, you indicate that you agree to be bound by the modified Terms. If you do not agree to the amended terms, your only option is to cease using the site.</p>

<p>If any clause in these Terms and Conditions declared totally or partially invalid or unenforceable, such invalidity or unenforceability will affect only that provision or part thereof that is invalid or ineffectual and the General Conditions in everything else, taking such provision or part thereof that is affected, and void.</p>

<h3>3. - Facts to consider for compliance with Law 34/2002 of Services of the Information Society</h3>

<p>The website www.YOOREC.com belongs to ITGEA Software Deployment, SL, with CIF n º B-86479797 and registered office at Calle Zurbano, 45, one of Madrid.

For any questions or doubts, the user can contact our customer service by writing to define terms@YOOREC.com mail contact.</p>

<h3>4. – Eligibility</h3>

<p>Registration is required for use of the YooRec services. Anonymous records or false e-mail addresses are not allowed. The site is intended only for persons at least 16 years of age. It is expressly forbidden for anyone under the age of 16 to access or use the Website. By accessing or using the Website, you represent and warrant that you are over 16 years of age.</p>

<p>You assume full responsibility for the password that you choose. YooRec assumes no responsibility in cases of use of your password by others and shall not be liable for any damages resulting from unauthorized use. The customer should inform YooRec immediately of any unauthorised use of their password.</p>

<h3>5. - Process</h3>

<p>The Website will host the video content for editors in order to publicise their work (listings) and to be a claim for the users of the Website. When a user decides to contact an editor and request a quote through the Website, YooRec will share with the editor: (i) the name and surname of the customer that requested the budget, (ii) introductory text the customer has sent requesting the editor’s services.</p>

<p>From that time, with data provided by the customer, the editor will develop both a budget and a delivery date (both approximate) to be sent to the customer through the same channel.

The budget consists of fees from the editor (as defined below) and customer rates (as defined below). The rates of the editor, customer fees and applicable taxes are collectively referred to in these terms as "total rates". When applicable this fee will be taxed. The amounts due from a customer exclusively related to the development of audiovisual content are referred to as "editor rates". Note that it is the editors and not YooRec who determine service rates.

YooRec charges fees to customers based on a percentage of the fees by which the editor is charging for their work, in these terms these fees will be referred to as "customer rates." Customer rates are added to the editor rates to calculate the total rates (which also include applicable taxes) shown in the relevant budget.</p>

<p>Once the customer receives the budget and indicative delivery date, he or she then has the option of whether or not to continue with the order. If you continue, you then proceed to data loading and shipping of audiovisual material and those instructions it considers necessary for the making of the video to your preference (including text and music chosen) to the editor.

At that time, after analyzing the material submitted, the editor will issue a final budget which is binding upon both parties and will schedule a delivery date. The customer will then transfer the amount to YooRec who will then retain the transferred amount until the date of actual delivery of the agreed work. </p>

<p>Upon delivery of the agreed work, YooRec will issue a transfer order for the editor to be carried out within 48 hours. During this time, both parties can make the adjustments they consider relevant and should not apply any of the grounds specified in the Cancellation policy as described later in this section, the customer must implicitly authorise that the editor receives the amount that is retained by YooRec.</p>

<p>The transfer for the editor will be by check, PayPal, direct deposit or other payment methods described on the Website, in the currency chosen by the editor, depending on the choices made by the editor. Note that any payment in currencies other than (€) Euros, YooRec may deduct the cost of processing foreign currency of such payments.</p>

<p>The amounts will not be transferred to the editor in breach of their obligations with the customer. For the purpose of the Cancellation policy an editor has breached their obligations to a customer when:</p>

<p>1. He or she has failed to meet the agreed time limit for production and delivery of the product.</p>

<p>2. The product violates basic requirements requested in the description of the project by the customer, such as end time, provided or requested songs and lack of pieces of video and photos that were requested in writing.

It is not considered a breach if there is lack of specificity by the customer, and this inaccuracy has had to be interpreted freely by the editor.</p>

<p><b>A. - If you are an editor:</b></p>

<p>As editor, you can prepare a list showing customers examples of your previous work that represent your video and editing services. To this end, YooRec may ask you a variety of personal and professional questions to be included on your profile which will be intended to help promote your works. Once you create your profile as an editor, you may add to this list as many previous works as you need to make your profile as attractive as possible for potential customers.

You acknowledge and agree that you are solely responsible for any and all of the work you do. Please, note that YooRec assumes no responsibility regarding compliance by the customer with the laws, rules and regulations. YooRec reserves the right to remove or disable access at any time and without notice, to any editor for any reason, including those YooRec, in its sole discretion, considers to be objectionable for any reason, violate these Terms or may otherwise impair the website.

You acknowledge and agree that YooRec does not employ you as an editor but simply acts as an agent between the editor and the customer. If a customer requests an editor to complete his or her project, any agreement reached between the editor and customer will be effective between the editor and the customer, and YooRec will not be a part of the agreement. YooRec, in acting as an authorized agent will accept, on the editor’s behalf, the customer’s payment, and will then transfer such payments to the editor when the customer’s project has been completed by the editor.

Naming YooRec as a paying agent of the editor

The editor appoints YooRec as an agent for the sole purpose of collecting payments from customers on their behalf. The editor agrees to consider the payments made to YooRec as if they had been paid directly to the editor, so the editor will have the customer service as previously agreed as if it were the editor who had received the fees.

Before accepting an assignment, the editor will be asked through the relevant website, to check their availability for commissioned work or not. If you do not wish to provide a receipt, this information will be made available to the customer prior to order confirmation. If you wish to provide a receipt, this receipt will be issued in the name of the editor. Furthermore, by accepting these Terms and Conditions, you authorize YooRec to issue invoices in your name.

The editor accepts that YooRec may, as per the Cancellation policy defined above, (i) allow the customer to cancel a reservation and (ii) return, to the customer, part of the service fees specified in the Cancellation policy.

</p>

<p><b>B. - If you are a customer:</b></p>                                                                                   

<p>It is the editor and not YooRec who is solely responsible for ensuring that they comply with the agreements made regarding the customer's budget and products. If you, as a customer, decide to sign a deal with a editor to perform any services, you agree and understand that you will be required to sign an agreement with the host and you agree to accept these terms, conditions, rules and restrictions associated with that service by the editor and any taxes that may be associated with that service. You acknowledge and agree that you, and not YooRec, are responsible for fulfilling the obligations of such agreements between yourself and the editor with which YooRec is not involved, except for any obligations regarding payments between yourself and the editor with which YooRec has accepted responsibility (see 'Naming YooRec as a paying agent of the editor’). You acknowledge and agree that while YooRec are not a part of the agreement between you and the editor, YooRec will act as an agent for the sole purpose of accepting the payments you make on the editor's behalf. When you pay YooRec the amount which you owe to the editor, your obligation to pay the editor ceases and YooRec is then subsequently responsible for transferring such payments, minus the amount due to YooRec for their services, to the editor. If YooRec fails to transfer such amounts to the editor, the editor will only be able to claim against YooRec and not the customer.

In order to be able to repay the amounts paid by the customer and retained by YooRec, YooRec ask the customer at the time of confirmation for the budget account number. This account number will be used solely for the above purposes, and is expressly prohibited by these Terms and Conditions for any other use.

The customer can pay by secure electronic payment with a credit card or PayPal. Transfer from the data bank to the bank server is done safely (SSL encryption). The data provided (card number and expiration date) is encrypted. For safety reasons, the bank details are destroyed once the order has been processed, so it must be re-entered when making a new one.

The sale will not be considered final until after the customer receives the product and the full price has been paid to the editor at the time of delivery. If requested by the customer, YooRec will forward the bill for the services provided by YooRec via email. If the customer requests an invoice for services provided by the editor, YooRec will issue the invoice on behalf of the editor. If the editor does not want to issue an invoice, this information will be made known to the customer prior to order confirmation.

When you, as a customer, accept the final order and complete payment for the service, you are deemed to accept, knowingly and without reservation, the current conditions of use, price and quantity generated and specific characteristics of the products ordered.

The customer guarantees YooRec that you have the necessary authorizations to use the payment method chosen when registering the order.

If you, as a customer, request a budget, you will be notified of the currency in which you will be charged with the full amount of the total fees. YooRec determine the currency in which the payment will be based on the payment method you select and the location of the editor of the work applying. If another currency is to be used as opposed to the one chosen by the editor, YooRec will be responsible for processing the required currency conversion, including costs arising from the same, which is calculated based on the exchange rate applicable which YooRec will publish on the website so that the customer may check it on the date and time of booking confirmation (the "exchange rate"). You agree that the exchange rate used for currency conversion may not be identical to the market exchange rate applicable at the particular time at which the transaction occurs, given that (i) although YooRec updates the exchange rate applicable, it does not perform the update in real time, and that (ii) the exchange rate may include an additional fee or margin that is not included in the exchange rate market. To avoid doubt, YooRec retain any profits (and will take care of the losses) resulting from the conversion of foreign currency, which are due to changes in the exchange rate between the date of confirmation of your order and the date YooRec make payment to the editor.</p>

<h3>6. - Delivery and reception</h3>

<p>Upon ordering, the customer has the option to decide whether they wish to have online or physical (e.g. DVD or CD) delivery:</p>

<p>1. In the case of online delivery, YooRec will send an email to the email address registered by the customer, with a download link. The customer has 30 days of unlimited downloads. After this time all files related to that project will be destroyed.</p>

<p>2. In the case of physical delivery, products are shipped to the address specified by the customer at the time of ordering. The customer is responsible for any forwarding of an order that is due out of an error in the delivery address indicated on the time of registration and confirmed in the order stage.

Delivery orders will be in physical form and will be through courier companies which have an agreement with YooRec. Delivery times and other conditions will be made available to the customer at the time you choose the option of physical delivery. Delivery times are provided solely for information purposes and are not strict. Unless stipulated or otherwise expressly written by YooRec, a delay in processing and/or delivery will not, under any circumstances, entitle a customer to cancel an order or entitle a customer to demand compensation. In any case, the products ordered will be delivered in physical form within a maximum of thirty working days from the day after the order is placed, provided that the amount has been paid in full and excluding periods of validation which are the responsibility of the customer. Should the physical order not be delivered within this period, the customer will be able to cancel the order. The amounts transferred by the customer will be restored immediately, but the customer will not be entitled to claim any other compensation.

The customer must verify, at the time of delivery, the condition of the packaging of the goods and its contents at the time of delivery. In the hypothetical case that the customer has any questions of any nature on the state or the contents of their package, they are entitled to reject the goods. This should, at the same time, included as a part of the deliverer’s anomaly and the customer should report the incidence, within seven days from the rejection of the goods at the address material@yoorec.com orders indicating the order number.

If the products ordered in a physical format are not delivered within the period stipulated in these Terms and Conditions, the customer must notify YooRec of the issue via email - material@yoorec.com/orders - and allow an investigation into the company responsible for the delivery service. The investigation can take up to 21 days. If during this period the product is returned, it will be forwarded immediately to the customer's home address or the designated recipient named in order.</p>

<h3>7. - Return Policy of the physical format</h3>

<p>YooRec accepts the return of products which are in physical form (i.e. DVD or CD), only in the following two circumstances:</p>

<p>1. The product(s) received do not correspond to the description on the Website. All project-related files are kept 30 days after delivery, so that both parties will find any mistakes which are made.</p>

<p>2. Products delivered with defects or defects caused by an incident during the process of burning and printing jobs.

In these two cases, the claims must be sent by email to material@yoorec.com no later than seven days from the receipt of goods and must be reported. Any claim must include the following information: customer data, order reference and reasons for the claim.</p>

<p>Within 72 hours of receiving the complaint, YooRec will inform the customer of the validity or invalidity of their complaint. The customer must send back the products ordered indicating the date of shipment of the package, customer data, order reference and the reasons for the claim. YooRec will be responsible for any forwarding expenses that result from returning a product.

In the event of the customer failing to comply with the procedure and the time limits specified above, the right to make any claim for alleged defect or non-conformity of the delivered products will be lost. Such products will be deemed to be compliant products with no apparent defects. YooRec do not accept any returns for the following problems:</p>

<p>1. Any errors in choice of product and/or the options made by the customer at the time of ordering.</p>

<p>2.Problems which occurred at the time of capture images (the quality of the images uploaded by the customer is at your own risk).</p>

<p>3. Problems occurred during delivery or during cleaning or maintenance of products.</p>

<h3>8. - User behavior</h3>

<p>You acknowledge and agree that you assume full responsibility for compliance with the laws, rules and regulations, as well as tax obligations that apply to your use of the Website. In connection with your use of our Website, you may not and agree that you will not:

• violate any law or rule local, state, provincial, national or otherwise, or any warrant or tax regulations;

• use software, devices, robots or other automatic or manual process or to access, extract, collect or analyze any website content or other services hosted on the Website;

• use the Website for commercial purposes or otherwise not expressly authorized in these Terms and Conditions;

• copy, store or otherwise access any information hosted on the Website for any purpose not expressly permitted in these Terms and Conditions;

• infringe the rights of any person or entity, including without limitation, intellectual property, privacy, publicity or contractual rights;

• interfere with or damage our Website, application or services, including without limitation through the use of viruses, cancel bots, Trojan horses, malicious code, packet invasion, denial of service attacks, packet spoofing or IP, routing information falsified or email or similar methods or technology;

• use our Website, applications or services to transmit, distribute, post or submit any information concerning any other person or entity, including without limitation, photographs of others without their permission, personal contact information or account numbers or credit card , debit or calls;

• use our Website, applications or services in connection with the distribution of unsolicited commercial email ("Spam") or advertisements unrelated to lodging in a private residence;

• "besiege" or harass any other user of our Website, applications or services or collect or store any personally identifiable information about any other user for purposes other than as a customer transaction or host;

• be registered in more than one YooRec account or register a YooRec account on behalf of a person other than yourself;

• contact an editor for any purpose other than to ask a question about a service;

• contact another customer for any reason other than to ask a question relating to an application or the use of that customer's website, application and services;

• when acting as a customer, recruit or otherwise solicit, any editor or other member to join services or third party websites which are in competition with YooRec without the prior written approval of YooRec;

• impersonate any person or entity, or falsify or otherwise falsely represent yourself or your affiliation with any person or entity;

• use automated scripts to collect information or otherwise interact with any website, application or services;

• use the Website, applications and services to find an editor or a customer and then propose a separate budget request for the page, the application or service to avoid the obligation to pay any fees for services related to the provision of services on the part of YooRec;

• as editor, submit false or misleading information on prices, or send a quote with an unrespectable price, nor

• hang up, upload, post or transmit any content that: (i) infringes, appropriates or violates any patent, copyright, trademark, trade secret, moral rights or other intellectual property rights of a third party, or the rights of publicity or privacy, (ii) violates, or encourages any conduct that would violate any applicable law or regulation or generate liability, (iii) is fraudulent, false, deceptive or misleading, (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group, (vi) is violent or threatening or promotes violence or actions that are threatening to any other person, or (vii) promotes illegal activities or substances or harmful;

• systematically retrieve data or other content from our Website, applications or services to create or compile, directly or indirectly, in single or multiple downloads, a collection, compilation, database, directory or the like, whether by manual methods, using robots, crawlers, spiders, or otherwise;

• use, display, copy or frame the Website or application, or any individual element of the Website, the services or the application, the name of YooRec, any YooRec trademark, logo, or other proprietary information, or design and layout of any page or form contained on a page without the express written consent of YooRec;

• access, manipulate or use non-public areas of the Website or application systems or technical delivery systems;

• attempt to probe, scan or test the vulnerability of any YooRec system or network or violate any security or authentication measures;

• prevent, surround, remove, deactivate, disable, disassemble or in any other way dodge any technological measure implemented by YooRec or any YooRec providers or other third party (including another user) to protect the Website, the services, the application collective or content;

• forge any headers of TCP/IP or any part of the header information in any email or newsgroup posting, or in any way use the Website, services, content or application groups to send altered , misleading or false to identify the source;

• attempt to decipher, decompile, disassemble or reverse engineer any software used to provide the Website, services, content or application groups or to defend, encourage or assist any third party to do any of the foregoing.

YooRec are entitled to investigate and prosecute violations of any of the foregoing in any way permitted by law. YooRec may involve and co-operate with the authorities responsible for law enforcement in prosecuting users who violate these Terms and Conditions. You agree that YooRec has no obligation to monitor your access to or use of the Website and the application or to review or edit any Member Content, but has the right to do so for the purpose of operating the Website, the application and services, ensure compliance with these Terms and Conditions or comply with applicable law or the order or requirement of a court, administrative agency or other governmental entity. YooRec reserves the right, at any time and without notice, to remove or disable access to any content that YooRec, in its sole discretion, considers to be objectionable for any reason, or which violates these Terms and Conditions or otherwise harmful to the Website, application or services.</p>

<h3>9. – Content license</h3>

<p>Subject to compliance with these Terms and Conditions, YooRec grants you a limited, non-exclusive and non-transferable license to (i) access and view any YooRec content solely for your own personal and non-commercial use and (ii) access and view any content solely for your own personal and non-commercial use.

You shall not use, copy, adapt, modify, prepare derivative works, distribute, license, sell, transfer, publicly display, publicly perform, transmit, broadcast or otherwise exploit any website, application, services or content, except as expressly permitted in these Terms and Conditions. You are not granted any license or right by implication or otherwise under any intellectual property rights owned by YooRec or its licensors, or are under its control, except the licenses and rights expressly granted in these Terms and Conditions.</p>

<h3>10. - Content Editors</h3>

<p>We may, in our sole discretion, allow editors to publish, upload, post, host or transmit their own content. By making any content available on or through the Website, you hereby grant YooRec a worldwide, irrevocable, perpetual, non-exclusive, transferable, royalty-free, with the right to sublicense, to use, display, copy, adapt, modify, distribute, license, sell, transfer, publicly display, publicly perform, transmit, post, Internet, broadcast, access, display and otherwise exploit such content, across or through the Website and the application. YooRec do not claim any ownership rights over such content and nothing in these Terms and Conditions shall be deemed to restrict such rights that you may have to use and exploit such content.

You acknowledge and agree that you are solely responsible for all content made available through the Website. Accordingly, you represent and warrant that: (i) you are the sole and exclusive owner of all content made available through the Website or you have all rights, licenses, consents and releases that are necessary to give YooRec rights of such content, as contemplated under these Terms and Conditions, and (ii) the content or publication, load, crash, post or transmit or use by YooRec Content (or any portion thereof), across or through the Website infringe, will appropriate or violate the patent, copyright, trademark, trade secret or moral rights of others or other proprietary rights or intellectual property rights, or rights of publicity or privacy, or will result in the violation of any law or regulation.</p>

<h3>11. - Links</h3>

<p>The Website may contain links to other websites or third-party resources. You acknowledge and agree that YooRec is not responsible for: (i) the availability or accuracy of such websites or resources, or (ii) the content, products or services found or available on such websites or resources. Links to such websites or resources do not imply any endorsement by YooRec to such websites or resources for content, products or services available from such websites or resources. You accept sole responsibility for and assume all risk arising from your use of such websites or resources or the content, products or services found or available on such websites or resources.</p>

<h3>12. - Proprietary rights notices</h3>

<p>All trademarks, service marks, logos, trade names and any other proprietary designation used herein are trademarks or registered trademarks of YooRec. Other trademarks, service marks, logos, trade names and any other proprietary designation are registered trademarks or trademarks of their respective owners.</p>

<h3>13. - Backup files uploaded by the user</h3>

<p>YooRec may copy, store, view and send files saved in the user's account to allow the provision of services, but in no case has the obligation to keep them on their servers. The user is solely responsible for backing up all of their files, so YooRec not responsible for loss or damage of files uploaded by the user.</p>

<p>In no event will YooRec be responsible for indirect damages that result from the use of the Website or services such as tapes or loss of data loss. In the cases of direct damage, the responsibility is limited to YooRec pay the amount paid by the user for the service that caused the damage.

If, when using the Website, any interruptions result in a YooRec user loosing information, you accept and agree, by accepting these Terms and Conditions, that YooRec is not responsible for any such lose.</p>

<h3>14. - Antivirus Control</h3>

<p>YooRec does not guarantee the absence of viruses or other elements that may cause alterations in the computer system of the user or in the electronic documents and files stored on it.

YooRec is not responsible for the content of files sent. YooRec does not have the power to control which files are sent, but reserves the right to deny access to files that they deem to be against their conditions. It is strictly prohibited to endanger the security and integrity of the Website.</p>

<h3>15. - Disclaimer</h3>

<p>The customer accepts and agrees that, to the extent permitted by law, they assume all risks associated with their access and use of the Website exonerating YooRec of any responsibility.</p>

<h3>16. - Compensation</h3>

<p>You agree to release, defend, indemnify and hold harmless YooRec and its affiliates and subsidiaries, and their officers, directors, employees and agents from all claims, liabilities, damages, losses and expenses, including, without limitation, legal fees and accounting fees, arising out of or in any way connected with (a) your access or use of the Website and the application or violation of these Terms [and Conditions], (b) content, (c) your (i) interaction with any member, ( ii) application and / or acceptance of a budget, (iii) publication of a work, or (iv) or otherwise arising in connection with or as a result of an order, request for quote or delivery of work.</p>

</div>
</div>
</div>


