<div class="container">
<div class="row">
<div class="span12">

<h1>PRIVACY POLICY</h1>

<h3>1. - Subject to this Privacy Policy</h3>

<p>YooRec provides this Privacy Policy to inform you of our policies and procedures regarding the collection, use and disclosure of personal information we receive from users of www.yoorec.com (collectively referred to as the "Website"). This Privacy Policy only applies to information you provide through the Website. This Privacy Policy may be updated from time to time. We may update this Privacy Policy to reflect changes in our information practices. If we make any substantial changes, we will notify you by email (to be sent to the email address specified in your account YooRec) or through a notice on the Website before the change comes into force. We encourage you to periodically check this Website for the latest information on our privacy practices. Unless otherwise defined in this Privacy Policy, the terms used in this Privacy Policy have the same meanings as in our Terms of Service (http://www.YooRec.com/home/terms).</p>

<p>As used in this policy, the terms "using" and "processing" information include using cookies on a computer, subjecting the information to statistical analysis or other analysis and using or handling information in any way, among other ways, by collecting, storing, evaluating, modifying, deleting, using, combining, disclosing and transferring information within our organization or among our affiliates in Europe and other countries outside the European Union.</p>

<h3>2. - Company responsible for the processing of personal information / data control is:</h3>

<p>ITGEA Software Deployment, S.L., provista de CIF nº B-86479797 y con domicilio social en la calle Zurbano, 45, 1 de Madrid</p>

<h3>3. - Data processing in countries outside of the European Economic Area </h3>

<p>Your information may be processed and stored on computers located outside the European Economic Area in which the privacy laws may not be as protective as those in our jurisdiction. However, we will make every effort to ensure the protection of your personal information, at any time and any place, is comparable to the standard of protection provided under the terms of this Privacy Policy.</p>

<h3>4. - Collection and Use of Information</h3>

<p>Our main objectives are to provide information to collect and improve our Website, and make it possible for potential users to simply enjoy and easily navigate through the Website.</p>

<h3>4.1 Personal Information</h3>

<p>In the following instances, but not limited these instances, YooRec will request certain personal information: When you register through the Website with YooRec to become a member, when you decide to publish a work, when you request a quote or when you would like to contact an editor. This is information about you that can be used to contact or identify you. Identity information includes your name, phone number and email address but it does not include your credit card number or billing information. To process your transactions through the Website, our company may also ask for your credit card number and other billing information. Part of the personal information is mandatory such as your name and email address and other personal information is optional, such as your date of birth. We use your personal information to provide the service and administer your inquiries.</p>

<p>We collect personal information in connection with your registration to subscribe to the service. You can register through the Website by completing the required forms. You can also register by logging into the online accounts you may have with certain social networking sites ("SNS") (e.g. Facebook) through our Website. Each of the accounts will be referred to as "Third Party". You declare that you have the right to disclose your Third Party account and/or grant access to your Third Party account (for use for the purposes described herein), without breach by you of any terms and conditions that govern your use of the applicable Third Party account and without forcing YooRec to pay any fee or make YooRec subject to any limitations imposed by the use of appropriate SNS. If you decide to register by logging into an account of a Third Party through our Website, we will obtain the personal information you have provided to the SNS (for example, your "real" name, email address, profile picture, SNS friends names, names of SNS groups to which you belong, other information you make available through the SNS public concerned or any other information allowing access to after YooRec authorize the SNS to provide such information) and use that information to create your account and your YooRec profile page. Depending on the privacy settings you and others have selected in your Third Party accounts, you understand that by giving us access to the accounts of others we will access and store offer (If this is applicable and to the extent that the SNS and you authorize so) the account information of third parties so that it is available in and through your account on the Website. Our company also collect other non-identifying information as part of the registration, administration and personalization of your YooRec account profile (e.g. post code (on its own) and individual preferences or demographic information, among other data). We use your personal information for the purposes described in this Privacy Policy only and specifically to deliver the service, carry out transactions and manage queries. We may combine personal information with non-identifying information and add it to the information collected from other YooRec users (as defined below) for internal purposes only, to provide a better experience, to improve the quality and value of service and analyze and understand how to use our Website. We may also use the combined information without adding it to serve you specifically, for instance to deliver a product to your preferences or restrictions.</p>

<h3>4.2 Newsletters, marketing and promotional materials</h3>

<p>We also use your personal information to contact you by YooRec newsletters, marketing or promotional materials and other information that may be of interest to you. If you decide at any time that you no longer wish to receive these communications, please follow the unsubscribe instructions included in any of the communications or update your “Newsletter”. Note that we may also use your personal information to contact you regarding any information related to your use of the service. You can unsubscribe to stop receiving these notifications and still continue to use our services.</p>

<h3>4.3 System Identifiers</h3>

<p>When you visit the Website, either as an editor or customer (“YooRec user”) or as an unregistered user who is just browsing (“YooRec user”), our servers automatically record information that your browser sends whenever you visit a website ("system identifiers"). These system identifiers may include system information like the Internet Protocol address ("IP address") of your computer, the browser type or other login information or web page you were visiting before accessing our Website, the time spent on those pages, information you search on our Website, access times and dates, and other statistics. We use this information to monitor and analyze the use of the Website, for technical administration of the Website, to increase the functionality and usability of our Website, and to better personalize our Website to the needs of our visitors. We also use this information to verify that visitors to the Website meet the criteria required to process their requests. Do not treat system identifiers as personal information. Except as provided below, no system identifiers are used in association with personal information, but we can collect, analyze and evaluate such information for the same purposes listed above on other non-identifying information. If you are a member, the system will handle your information in the following ways: (i) it will use a combination of IP address and personal information to provide a local-language version of the Website and services. (ii) YooRec use certain third party services to provide (a) services for fraud detection and prevention, and (b) payment processing services to YooRec by use of the site and services, as reflected in the following section entitled "Sharing and Disclosure of Information". These third party service providers may have access to personal information about members, including addresses, in order to provide appropriate services of detecting and preventing fraud and payment processing services.</p>

<h3>4.4 Cookies</h3>

<p>Like many websites, we use "cookies" to collect information. Cookies are small data files that we transfer to your computer's hard disk for maintenance of records. We use cookies for two purposes. First, we use persistent cookies to store your login information for future logins to the Website. Second, we use session ID cookies to enable certain features of the Website, to better understand how you interact with the Website and to monitor usage set by users and routing YooRec web traffic on the Website. Unlike persistent cookies, session cookies are deleted from your computer when you log off the Website and close your browser. Advertisers in the Third Party website may also place or read cookies on your browser. You can instruct your browser, by changing the configuration of its options, to stop accepting cookies or prompt you before accepting a cookie of the websites you visit. However, if you do not accept cookies, you may not be able to use all sections of the Website, or any service functionality.</p>

<h3>4.5 Web Beacons</h3>

<p>Our Website may contain electronic images known as "web beacons" (sometimes called Images "single-pixel GIF") used along with cookies to compile aggregated statistics to analyze how our Website is used and also be used in some of our emails to know which emails and links have been opened by recipients. This allows us to evaluate the effectiveness of our customer communications and marketing campaigns.</p>

<h3>4.6 Sending an email through a YooRec account</h3>

<p>As part of the service, users can contact YooRec members through the use of the "Contact Editor" section of the page. When YooRec users have selected the option to add one or more email addresses in an online form, the message they create in the corresponding template will be sent from YooRec to those email addresses on their behalf. These email addresses will be used solely for the purpose of sending the recipient a single email communication.</p>

<h3>4.7 “Phishing”</h3>

<p>Identity theft and the practice currently known as phishing are of great concern to YooRec. Safeguarding information to help protect you from identity theft is a priority. We do not and will not, either now or in the future, request your credit card information, your YooRec account ID your password or national identification numbers in a non-secure or unsolicited email or telephone communication.  </p>

<h3>5.- Sharing and disclosure</h3>

<h3>5.1 Overview</h3>

<p>The Website can be used to facilitate assembly and editing videos through listings of previous works done by the editors. The list of such work is made ​​available to you through the Website by the editors. The lists published by editors, ratings and customer reviews and profile information (as defined below) of editors and customers are visible to anyone on YooRec.</p>

<h3>5.2 YooRec members and users</h3>

<p>When you create an account with YooRec we will create a profile page in your YooRec account. Your YooRec profile page includes your surname and the first initial of your first name. You can select other personal information to include in your YooRec profile page including, among other information, a profile picture, a list of SNS groups to which you belong, a list of any of your friends in SNS or contacts who are also members of YooRec, the connections established between your account and any SNS, a biography and links to their listings, if applicable (collectively, the "profile information"). YooRec members are allowed to show, on third party websites (e.g. on a blog), their YooRec profile for the purposes of promotion of their work. Any information you choose to provide as part of your profile will be publicly visible to all YooRec users and therefore should reflect how you wish others to view you. Please retain your anonymity and sensitive information and we encourage members to think carefully about what information they disclose in their profile pages. You can review and revise your profile information at any time.</p>

<h3>5.3 Intellectual property rights</h3>

<p>If you request a quote through the Website, YooRec may share the following information about you with the appropriate editor: (i) Your surname and first letter of your first name, (ii) a link to your YooRec profile page, (iii) an indication that the name you provided when you registered a YooRec membership matches the name you provided to that SNS which YooRec has linked to your account, and (iv) the audiovisual material or text that you attach,  will be transferred and used to facilitate the acquisition of the budget. In no case will a customer’s billing information and other personal information such as address or email address be shared with an editor. The customer must not, when providing content for assessment of the budget through WeTransfer, provide to the editor any personal information. If it is the customer’s intention to contact the editor directly YooRec reserves the right to discontinue communication between that customer and editor.</p>

<h3>5.4 Overview and non-identifying information</h3>

<p>We may share general information that does not include personal information and may disclose otherwise non-identifying information and system IDs with third parties for industry analysis, demographic profiling the performance and other purposes. All information shared in these contexts will not contain your personal information.</p>

<h3>5.5 Service Providers</h3>

<p>We may use the services of third party companies and individuals to facilitate our service, to provide the service on our behalf, to perform services related to the Website (e.g., without limitation, maintenance services, database management, web analytics, payment processing services, services fraud detection and prevention related activity YooRec users and improving the functions of the website) or to help us analyze how our Website is used. These third parties may have access to your personal information and identifiers systems, if they do, this access is only so that they can perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

<h3>5.6 Third Party Cookies</h3>

<p>The third-party distributors, including Google, use cookies to send notices based on the previous visits of the YooRec user. You can disable these specific cookies that track prior visits at http://www.google.com/privacy_ads.html.</p>

<h3>5.7 Facebook “Like” Button</h3>

<p>Our website uses social supplements Facebook like button “I like”. Facebook is operated by Facebook, Inc., 1601 S. California Avenue, Palo Alto, CA 94304, USA. Whenever you visit a section of our Website that contains such an addition, the web browser will set up a direct connection to Facebook servers and add some data to be transmitted from Facebook to your browser and is embedded in our Website.

As a result, Facebook will receive the information you are viewing on certain sections of our Website, without knowing your identity. If you are logged into your personal Facebook account, Facebook can also link your visit to our Website to your personal Facebook account. Similarly, any interaction with the Facebook Like button is registered in Facebook.</p>

<p>For more information on how your data is collected by Facebook and how Facebook uses such data, see the Facebook privacy policy, which can be found here:  [http://de-de.facebook.com/policy.php].</p>

<h3>5.8 Compliance and legal actions</h3>

<p>YooRec collaborates with the government and representatives of the authorities and private entities to implement and enforce the law. We may disclose such information about you to law enforcement or government officials or private parties when required or appropriate to respond to claims and legal processes (including, among other cases, subpoenas), to protect the property and rights of a third party, to protect the safety of the public or any person, or to prevent or stop an activity that we consider is or may be illegal, or which violates ethical standards or is legally questionable.

We may disclose information about you to law enforcement or government officials and our insurance providers when required or appropriate to administer our Guarantee www.YooRec.com/editor/terms, in order to protect the property and rights of a third party, to protect the safety of the public or a particular person, or to prevent or stop an activity that is or may be illegal, or violates ethical standards or legally questionable.</p>

<h3>5.9 Business Transfer</h3>

<p>YooRec may sell, transfer or otherwise share some of its assets or all of them, including their personal information in connection with a merger, acquisition, reorganization or sale of assets or in the event of a bankruptcy declaration. In any case, your personal information will be processed in accordance with this Privacy Policy.</p>

<h3>6. - Display, modification or removal of the information</h3>

<p>All Members may review, update, correct or delete their personal information held by YooRec in their registration profile at any time by contacting us at terms@YooRec.com or editing the relevant part of their profile. If you want to cancel your YooRec account, please contact us or select the "Cancel Account" service and we will try fulfilling your request providing we have no legal or legitimate business reason to retain the information in your YooRec account. Note that if you cancel your YooRec account, all reviews that have been published through the Website will remain publicly visible through the Website. See below for privacy contact information. Furthermore, upon your request, we will inform you of any other personal information that YooRec currently has stored about you. However, to enable us to give the correct information, you must describe the information requested by type.</p>

<h3>7.- Security</h3>

<p>YooRec actively undertakes to safeguard your information. When you enter sensitive information (such as a credit card number) on our registration or order forms, we encrypt that information using technology Secure Sockets Layer (SSL). Normally, we use accepted industry standards to protect the personal information we receive, both during transmission and after receipt. However, no method of transmission over the Internet or electronic storage is 100% secure. Therefore, we cannot guarantee its absolute security. If you have any questions about the security of our Website, please contact us at terms@YooRec.com.

We will notify all the information legally required in relation to any breach of security, confidentiality and integrity of their "personal data" stored electronically (in the manner and time that we are required under applicable law regarding notification of security breaches) via email or by publishing clearly on the Website as soon as possible and without unreasonable delay, while it conforms to (i) the legitimate needs of the application of the Act or to (ii) any measures necessary to determine the scope of the breach and restore reasonable integrity of the data system.</p>

<h3>8. - Links to other websites</h3>

<p>Our Website may contain links to other websites. If you choose to visit an advertiser by "clicking" through an ad banner or other type of advertisement, or by clicking on another third party link, you will be directed to that third party website. The fact that we link to a website or introduce an announcement banner and or other type of advertisement is not an endorsement, authorization or representation of our affiliation with that third party, nor implies endorsement of their policies or practices of information security or privacy. We have no control over third party websites. These other sites may place their own cookies or other files on your computer, collect data or solicit personal information. Other sites follow different rules regarding the use or disclosure of personal information to send them. This Privacy Policy applies only to our Website. We encourage you to read the privacy policies or statements of the other websites you visit. </p>

<h3>9.- Testimonials</h3>

<p>With your consent, we may publish your testimonial on the Website along with your name. If you want to withdraw your testimony, please contact us at terms@YooRec.com.</p>

<h3>10. - Our policy with respect to children</h3>

<p>The website is not directed at minors. We will not knowingly collect personally identifiable information from minors.</p>

<h3>11. - How to contact us</h3>

<p>If you have any questions about this Privacy Policy, please contact YooRec in terms@YooRec.com.</p>

</div>
</div>
</div>


