<div class="container">
<div class="row">
<div class="span12">

<h1>QUÉ ES YOOREC</h1>
<table><tr>
<td><img src="/images/que_es_yoorec/que_es_yr_1.jpg" style="width:400px;padding:10px;" /></td>
<td>
<h3>¿qué ofrecemos?</h3>
<p>Te ofrecemos la posibilidad de tener un vídeo 
semi-profesional a partir de tus fotos y videos
y con la música que tú elijas.
Obtén precio aprox sin registro
y precio exacto con él.</p>
</td>
</tr></table>
<table><tr>

<td>
<h3>¿quién lo hace?</h3>

<p>Los editores de escuelas audiovisuales que tienen conocimientos
específicos para la realización de estos trabajos. Si quieres un montaje más profesional 
(por ejemplo, un vídeo de presentación de tu negocio) disponemos de editores
profesionales que le darán un enfoque especial para que
"resulte lo más adecuado a tus necesidades como autónomo"</p>

</td>
<td><img src="/images/que_es_yoorec/que_es_yr_2.jpg" style="width:400px;padding:10px;" /></td>
</tr></table>
<table><tr>
<td><img src="/images/que_es_yoorec/que_es_yr_3.jpg" style="width:400px;padding:10px;" /></td>
<td>
<h3>¿cómo elijo editor? ¿cuánto cuesta?</h3>
<p>
Entra en nuestro apartado… y mira los trabajos
de nuestros editores, selecciona lo que más
"te gusten y solicita un presupuesto"</p>
<p>Puedes pedir a varios, lo recomendamos!
Fíjate en las valoraciones y en el nivel de confianza!</p>

</td>
</tr></table>
<table><tr>

<td>
<h3>¿dónde gestiono online y pago?</h3>

<p>Elige las fotos que quieres que se incluyan en el vídeo. Puedes hacerlo fácilmente a través de:</p>
<p>1. examinar desde tu pc.</p>
<p>2. envíanos todo, no importa que no hayas seleccionado.</p>
<p>3. regístrate para elegir editores y pagar.</p>
<p>Además, puedes explicarnos brevemente cuáles son aquellas fotos
a las que quieres darle más importancia o cuál de las personas que
aparecen en ellas tiene una mayor relevancia. Recuerda que nos
"puedes contar qué esperas de nosotros y qué estilo estás buscando"</p>

</td>
<td><img src="/images/que_es_yoorec/que_es_yr_4.jpg" style="width:400px;padding:10px;" /></td>
</tr></table>
<table><tr>
<td><img src="/images/que_es_yoorec/que_es_yr_5.jpg" style="width:400px;padding:10px;" /></td>
<td>
<h3>¿qué ganamos en YooRec?</h3>

<p>Una pequeña comisión del 12% que te aplicaremos para gastos de transferencias. Recuerda que YooRec no pagará
al editor hasta que no termine correctamente tu trabajo Velamos por tu seguridad. Confía en nosotros. Para proyectos grandes bajamos la comisión hasta el 8%.</p>

</td>
</tr></table>

</div>
</div>
</div>
