<div class="container">
<div class="row">
<div class="span12">

<h1>WHAT IS YOOREC?</h1>

<table><tr>

<td><img src="/images/que_es_yoorec/que_es_yr_1.jpg" style="width:400px;padding:10px;" /></td>

<td>

<h3>What we offer</h3>

<p>YooRec offers people the opportunity to combine their favourite videos, photos and music into one professional video. Register with YooRec and get an exact price for your video or take a look at the video calculater which allows unregistered users to get an approximate price.</p>

</td>

</tr></table>

<table><tr>

<td>

<h3>Who makes the video?</h3>

<p>You have the choice between a large number of audiovisual editors who have varying experience in making such videos. Also, editors are available for those who require a more professional video, for example, a video presentation of your business.</p>

</td>

<td><img src="/images/que_es_yoorec/que_es_yr_2.jpg" style="width:400px;padding:10px;" /></td>

</tr></table>

<table><tr>

<td><img src="/images/que_es_yoorec/que_es_yr_3.jpg" style="width:400px;padding:10px;" /></td>

<td>

<h3>How do I choose which editor? How much does it cost?</h3>

<p>

You can search through the large number of editor profiles available on YooRec, which allow you to see previous examples of the editor's work, until you find the editor who is most suited to your needs. Once you have found this editor, its as simple as sending a budget request to that editor and waiting for a response.</p>

<p>Puedes pedir a varios, lo recomendamos!

Fíjate en las valoraciones y en el nivel de confianza!</p>

</td>

</tr></table>

<table><tr>

<td>

<h3>¿dónde gestiono online y pago?</h3>

<p>Elige las fotos que quieres que se incluyan en el vídeo. Puedes hacerlo fácilmente a través de:</p>

<p>1. examinar desde tu pc.</p>

<p>2. envíanos todo, no importa que no hayas seleccionado.</p>

<p>3. regístrate para elegir editores y pagar.</p>

<p>Además, puedes explicarnos brevemente cuáles son aquellas fotos

a las que quieres darle más importancia o cuál de las personas que

aparecen en ellas tiene una mayor relevancia. Recuerda que nos

"puedes contar qué esperas de nosotros y qué estilo estás buscando"</p>

</td>

<td><img src="/images/que_es_yoorec/que_es_yr_4.jpg" style="width:400px;padding:10px;" /></td>

</tr></table>

<table><tr>

<td><img src="/images/que_es_yoorec/que_es_yr_5.jpg" style="width:400px;padding:10px;" /></td>

<td>

<h3>¿qué ganamos en YooRec?</h3>

<p>Una pequeña comisión del 12% que te aplicaremos para gastos de transferencias. Recuerda que YooRec no pagará

al editor hasta que no termine correctamente tu trabajo Velamos por tu seguridad. Confía en nosotros. Para proyectos grandes bajamos la comisión hasta el 8%.</p>

</td>

</tr></table>

</div>
</div>
</div>
